<div class="video-list">
  <div class="video-list__no-videos" *ngIf="videos.length < 1">
    <img src="assets/images/video.svg" alt="" class="image" />
    <p class="text">{{ noVideos }}</p>
  </div>

  <div class="video-list__videos" *ngIf="videos">
    <div
      class="item"
      *ngFor="let video of videos"
      (click)="openVideoPlayer(video)"
    >
      <video width="260">
        <source [src]="video.videoUrl" type="video/webm" />
        {{ browserError }}
      </video>
      <div class="description">
        <div class="time">
          <p class="date">{{ getDate(video.recordedAt) }}</p>
          <p class="date">{{ getTime(video.recordedAt) }}</p>
        </div>
        <p>{{ video.duration.toFixed(1) }} s</p>
      </div>
      <img
        (click)="openDeleteModal(video.id); $event.stopPropagation()"
        class="delete-video"
        src="assets/images/trash.svg"
        alt=""
      />
    </div>
  </div>
</div>

<app-delete-modal
  *ngIf="selectedVideoId !== null"
  [videoId]="selectedVideoId"
  (close)="closeDeleteModal()"
  (confirmDelete)="confirmDelete($event)"
  >></app-delete-modal
>

<app-video-player
  *ngIf="selectedVideo"
  [videoUrl]="selectedVideo.videoUrl"
  (close)="closeVideoPlayer()"
></app-video-player>
