.video-container {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  &__start,
  &__stop {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 130px;
    width: 320px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }

  &__stop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 140px;
      min-height: 24px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 4px;

      p {
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &__settings,
  &__close-settings {
    position: absolute;
    left: 28px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  &__quality-items {
    width: 280px;
    padding: 12px;
    position: absolute;
    left: 120px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;

    .item {
      display: flex;
      align-items: center;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;

      img {
        margin-left: auto;
      }

      .active {
        color: rgba(255, 255, 255, 1);
      }

      span {
        font-weight: 700;
      }
    }
  }
}
