<div class="modal-overlay">
  <div class="modal">
    <img
      (click)="onCancel()"
      class="close-icon"
      src="assets/images/close.svg"
      alt=""
    />
    <img class="alert-icon" src="assets/images/warning.svg" alt="" />
    <h4 class="title">{{ deleteTitle }}</h4>
    <p class="subtitle">
      {{ deleteText }}
    </p>
    <div class="buttons">
      <button class="cancel" (click)="onCancel()">{{ cancelButton }}</button>
      <button class="delete" (click)="onDelete()">{{ deleteButton }}</button>
    </div>
  </div>
</div>
